/* statuses */
.open {
  color: #F8640F;
}
.soon,
.ontime {
  color: #034256;
}
.last {
  color: #F8640F;
}
.webix_selected {
  color: #F8640F;
}
.landed {
  color: #f3a601;
}
/* notifications list */
.notifications .webix_list_item {
  line-height: 20px;
  padding: 10px;
}
.notifications .webix_list_item .m_title {
  color: #000000;
}
.notifications .webix_list_item .message {
  display: block;
  color: #0F2B35;
}

